@model NetixProject1.Models.ComputerPersonalViewModel
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/DashboardMenuLayout.cshtml";
}
<h1>Servis Güncelle</h1>
<div class="form-style-5">
    <form asp-action="EditService" method="post">
        <fieldset>

            <label for="ComputerId">ComputerId:</label>
            <input type="text" name="ComputerId" value="@(Model.Personal?.ComputerId)" />
            
           
            <input type="hidden" name="ServiceId" value="@(Model?.Service?.ServiceId)">

            <label for="text">Service Status:</label>
            <select id="text" name="ServisStatus" value="@(Model?.Service?.ServisStatus)">
                <option value="Open">Open</option>
                <option value="Close">Close</option>
            </select>


            <label for="text">Priority:</label>
            <select id="text" name="ServicePriority" value="@(Model?.Service?.ServicePriority)">
                <option value="Acil">Acil</option>
                <option value="Normal">Normal</option>
            </select>

            <label for="text">Personal Name:</label>
            <input type="text" name="PersonalNameSurname" value="@(Model?.Personal?.PersonalNameSurname)">
            
            <label for="text">Service Worker:</label>
            <select id="text" name="ServiceWorker" value="@(Model?.Service?.ServiceWorker)">
                
                    <option value="Bülent Yentimur">Bülent Yentimur</option>
                    <option value="Osman Bilici">Osman Bilici</option>
                    <option value="Öyküm Mumuogullari">Öyküm Mumuogullari</option>
                    <option value="Ahmet Konuk">Ahmet Konuk</option>
                    <option value="Safiye Sahin">Safiye Sahin</option>
                
            </select>

            <label for="text">Date Entry:</label>
            <input type="date" name="DeviceDateEntry" value="@(Model?.Service?.DeviceDateEntry)" placeholder="">
            <label for="text">Deliver Entry:</label>
            <input type="date" name="DeviceDeliverEntry" value="@(Model?.Service?.DeviceDeliverEntry)" placeholder="">


            <label for="text">Delay Status:</label>
            <input type="text" name="ServiceDelayStatus" value="@(Model?.Service?.ServiceDelayStatus)" placeholder="">

            <label for="text">Device Processing Time:</label>
            <input type="text" name="DeviceProcessingTime" value="@(Model?.Service?.DeviceProcessingTime)" placeholder="">

            <label for="text">Service Reason:</label>
            <input type="text" name="DeviceServiceReason" value="@(Model?.Service?.DeviceServiceReason)" placeholder="">

            <label for="text">Changing Parts:</label>
            <select id="text" name="DeviceChangingParts" value="@(Model?.Service?.DeviceChangingParts)">
                <optgroup label="*">
                    <option value="Ram">Ram</option>
                    <option value="İşlemci">İşlemci</option>
                    <option value="Ana Kart">Ana Kart</option>
                    <option value="Bakım">Bakım</option>
                    <option value="Format">Format</option>
                    <option value="Kasa Değişimi">Kasa Değişimi</option>
                    <option value="Ekran Değişimi">Ekran Değişimi</option>
                    <option value="Diğer">Diğer</option>
                </optgroup>
            </select>
            <label for="text">Service History:</label>
            <input type="text" name="DeviceServiceHistory" value="@(Model?.Service?.DeviceServiceHistory)" placeholder="">
        </fieldset>
        <input type="submit" value="Güncelle" />
    </form>
</div>
<script>
    function calculateProcessingTime() {
        var entryDate = new Date(document.querySelector('[name="DeviceDateEntry"]').value);
        var deliverDate = new Date(document.querySelector('[name="DeviceDeliverEntry"]').value);
        var diff = new Date(deliverDate - entryDate);

        var days = diff / 1000 / 60 / 60 / 24;

        document.querySelector('[name="DeviceProcessingTime"]').value = days + " gün";
    }

    document.querySelector('[name="DeviceDateEntry"]').addEventListener('change', calculateProcessingTime);
    document.querySelector('[name="DeviceDeliverEntry"]').addEventListener('change', calculateProcessingTime);
</script>