@model NetixProject1.Models.ComputerPersonalViewModel

@{
    ViewData["Title"] = "AddPersonel";
    Layout = "~/Views/Shared/DashboardMenuLayout.cshtml";
}
<h1>Add Personel</h1>
<div class="form-style-5">
    <form asp-action="AddPersonel" method="post">
        <fieldset>
            
            <label for="text">Personal Name:</label>
            <input type="text" name="PersonalNameSurname" value="@(Model?.Personal?.PersonalNameSurname)" >
            <label for="text">Personal Age:</label>
            <input type="text" name="PersonalAge" value="@(Model?.Personal?.PersonalAge)">
            <label for="text">Personal Gender:</label>
            <select id="text" name="PersonalGender">
                <optgroup label="*">
                    <option value="Erkek">Erkek</option>
                    <option value="Kadın">Kadın</option>
                </optgroup>
            </select>
            <label for="text">Personal Department:</label>
            <select id="text" name="PersonalDepartment">
                <optgroup label="*">
                    <option value="IT">IT</option>
                    <option value="FrontEnd Developer">FrontEnd Developer</option>
                    <option value="BackEnd Developer">BackEnd Developer</option>
                    <option value="Sales And Management">Sales And Management</option>
                    <option value="General Manager">General Manager</option>
                    <option value="Director">Director</option>
                    <option value="Business Analyst">Business Analyst</option>
                </optgroup>
            </select>
            <label for="ComputerId">Computer Brand:</label>
            <select id="ComputerId" name="ComputerId">
                @foreach (var computer in Model.Computers)
                {
                    <option value="@computer.ComputerId">@computer.ComputerBrand-@computer.ComputerSerialNo</option>
                }
            </select>

            <label for="text">Personal Mail:</label>
            <input type="text" name="PersonalMail" value="@(Model?.Personal?.PersonalMail)" placeholder="">
            <label for="text">Personal Phone:</label>
            <input type="text" name="PersonalCellPhoneNumber" value="@(Model?.Personal?.PersonalCellPhoneNumber)" placeholder="">
        </fieldset>
        <input type="submit" value="Add Personal" />
    </form>
</div>
